@import url('https://fonts.googleapis.com/css2?family=Homenaje&family=Poppins:wght@100&family=Rubik+Doodle+Shadow&family=Rubik+Scribble&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    background-color: rgb(184, 254, 184);
    align-items: center;
    justify-content: space-between;
    padding: 10px;

}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    width: 100px;
}

#search {
    width: 300px;
    height: 30px;
    font-size: medium;
    color: rgb(7, 7, 7);

}

.icons {
    display: flex;
    align-items: center;
}

.icons span {
    cursor: pointer;
    padding: 10px 20px;
    gap: 10px 0px;
}

/* featured */

.cards {
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    gap: 0.8rem;
    padding: 15px;
}

.card {
    border: 3px rgb(243, 247, 243);
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}

.cardImg img {
    width: 100px;
}

#p3 {
    width: 150px;
}

#p1 {
    width: 145px;
}

.card p {
    padding: 5px 0;
    cursor: pointer;
}

.card p:hover {
    color: blue;
    font-style: italic;
}

/* best mobile */
.mobile{
    border: 3px solid grey;
    padding: 10px;
}
.mobile h1{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    
}
.class{
    /* font-family: 'Poppins', sans-serif; */
    width: 100px;
    display: flex;
    gap: 0.8rem;
    padding: 50px;
}
.student1{
    font-family: 'Poppins', sans-serif;
    border: 3px solid grey;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}
.student1Img img{
    width: 250px;
}

.student5Img img{
    width: 270px;
    padding: 15px 0px;
}
.student4Img img{
    width: 250px;
    padding: 35px 46px;
}
.student1 p:hover{
    font-size: large;
    color: blue;
    cursor: pointer;

}
.student1Img img:hover{
    transform: rotate(5deg);
}
.student4Img img:hover{
    transform: rotate(5deg);
}
.student5Img img:hover{
    transform: rotate(5deg);
}
@media only screen and (max-width: 500px){
    html{
        font-size: 16px;
    }
    cards {
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (min-width: 500px) and (max-width: 850px){
    html{
        font-size: 18px;
    }
    cards {
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (min-width: 850px){
    html{
        font-size: 20px;
    }

}
.About{
font-size: large;
color: rgb(56, 31, 31);
}
.About p{
    padding: 10px;
}